body {
    background: #0c0e11;
    height: 100%;
    color: rgb(243, 244, 245);
    line-height: 1.4rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 { text-align: center; }

.dropzone {
    background: #0c0e11;
    border-radius: 5px;
    border: 2px dashed #ee00e0;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
button{
  border: 2px solid #fff;
  border-radius: 25px;
  font-weight: 700;
  width: 200px;
  padding: 10px 15px;
  color: #fff;
  background-color: #FF10F0;
  /* visibility: hidden; */
  align-self: center;
  margin: auto;
  display: block;
  margin-top: 50px;
}
button:active{
  border: 2px solid #FF10F0;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 15px;
  color: #FF10F0;
  background-color: #fff;
}
